[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
requests = "*"
alembic = "*"
pydantic = "*"
snowflake-sqlalchemy = "1.5.1"
python-dotenv = "*"
debugpy = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
